In [3]:
fileData = open ("mlboot_data0.tsv")
data = fileData.readline()
line = data.split('\t')

print (line)

['00000d2994b6df9239901389031acaac', '5', '{"809001":2,"848545":2,"565828":1,"490363":1}', '{"85789":1,"238490":1,"32285":1,"103987":1,"16507":2,"6477":1,"92797":2}', '{}', '39\n']

In [20]:
import pandas as pd
data = pd.read_csv('mlboot_data0.tsv', sep='\t',  names =["id", "cat_feature", "inet1", "ine2", "inet","day"])

In [21]:
data.head()

,id,cat_feature,inet1,ine2,inet,day
0,00000d2994b6df9239901389031acaac,5,"{""809001"":2,""848545"":2,""565828"":1,""490363"":1}","{""85789"":1,""238490"":1,""32285"":1,""103987"":1,""16...",{},39
1,00000d2994b6df9239901389031acaac,5,"{""809001"":2,""1160689"":1,""14018"":1,""843995"":1,""...","{""9629"":1,""894555"":1,""2812609"":1,""15310"":1,""48...",{},43
2,00000d2994b6df9239901389031acaac,5,"{""536657"":1,""1723154"":1,""948501"":1,""1159583"":1...","{""129137"":1,""14056"":1,""9763"":1,""44215"":1,""3671...",{},45
3,00000d2994b6df9239901389031acaac,5,"{""1676126"":1,""1321640"":1,""1198"":1,""809001"":2,""...","{""153774"":1,""2127"":1,""158967"":1}",{},46
4,00000d2994b6df9239901389031acaac,5,"{""1125045"":2,""1596919"":1,""1857574"":1,""282284"":...","{""2979"":1,""30581"":1,""7296"":1,""127256"":1,""18803...",{},48

In [65]:
dataFile1 = data['id'].value_counts().to_frame('count').reset_index()
dataFile1.columns=['id','count']
dataFile1.shape
dataFile1.head()

                                 id  count
0  0152db9bd2b02d73503b7d0ae91eace7    157
1  017402a00171ea39f0080a4d3de86fad    154
2  02181608aa6807884dac088452c60af0    144
3  0236fa6fa5be1e678fa22911b2461a30    139
4  01bbf635ba3d8d9962c3a4fa72a06982    137

In [ ]:
data = pd.read_csv('mlboot_data1.tsv', sep='\t',  names =["id", "cat_feature", "inet1", "ine2", "inet","day"])

In [62]:
dataFile2 = data['id'].value_counts().to_frame('count').reset_index()
dataFile2.columns=['id','count']
print(type(dataFile2))
dataFile2.columns

<class 'pandas.core.frame.DataFrame'>

Index(['id', 'count'], dtype='object')

In [64]:
dataFile2.head()
#dataFile2.shape

                                 id  count
0  0152db9bd2b02d73503b7d0ae91eace7    157
1  017402a00171ea39f0080a4d3de86fad    154
2  02181608aa6807884dac088452c60af0    144
3  0236fa6fa5be1e678fa22911b2461a30    139
4  01bbf635ba3d8d9962c3a4fa72a06982    137

In [67]:
dataAll = pd.concat([dataFile1, dataFile2])

In [71]:
dataAll.shape
dataAll.tail()

                                    id  count
3181  025281dc3fc3f945d9053a2be5e68342      1
3182  025ef01a50fea21bdabb64f2d269aeaf      1
3183  016a13c5ca3daa78a3ad4ca14a9377a4      1
3184  020528a227e5ab5d481fb787df370eb1      1
3185  029eda39eb1324527563f2af61f5ab43      1

In [ ]:
print (type(dataFile1))

In [34]:
dataAns = pd.read_csv('mlboot_train_answers.tsv', sep='\t')
dataAns.head()

                               cuid  target
0  dc28aafafcfa71c0bbfa2a5724af6061       0
1  a4e12f1cbce08d16f3bb0672cef5193c       0
2  545df258854a9e8e64a3825aff728a41       0
3  45807d242c676eee729a5efc5fb67df2       0
4  3bd343dff1d515c6ff4759f5ada0c30b       0